email_username: {{ email_username }}@gmail.com
email_address: smtp.gmail.com
email_port: 587
email_password: {{ email_password }}
email_to: {{ email_to }}
dropbox_key: {{ dropbox_key }}
dropbox_secret: {{ dropbox_secret }}
