%h1
	= t('view.income.new')
	%small= link_to @income.member.full_name, member_path(@income.member_id)

= render 'form'

= link_to t('view.back'), member_incomes_path, :class => "btn btn-default btn-xs"
