- content_for :title do
  = t('pdf_reporter.new')


.container-fluid
  .col-md-12

    %h1=t('pdf_reporter.new')

    = render 'form'

    %br
      = link_to t('view.back'), pdf_reporters_path, class: "btn btn-xs btn-default"
