// Place all the styles related to the reporters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card{
  -webkit-box-shadow: inset 0px 0px 48px -24px rgba(0,0,0,0.63);
  -moz-box-shadow: inset 0px 0px 48px -24px rgba(0,0,0,0.63);
  box-shadow: inset 0px 0px 48px -24px rgba(0,0,0,0.63);
  -webkit-box-shadow: 0px 0px 48px -24px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 48px -24px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 48px -24px rgba(0,0,0,0.63);

  background-color: #dedede;
  height: 16em;
  padding: 5px;
  margin-right: 1.5em;
  margin-bottom: 1em;
  border: 1px lightgrey solid;

  .footer-actions {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}
