// Place all the styles related to the reporters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card{
  background-color: #dedede;
  height: 12em;
  padding: 5px;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
