%h1
	= t('view.receipt.new')
	%small= link_to @receipt.member.full_name, member_path(@receipt.member.id)

= render 'form'

%br
= link_to t('view.back'), member_receipts_path, :class => "btn btn-default btn-xs"
